-- ================================================
-- Database Schema for FEM Admin System (PostgreSQL)
-- Based on DB_SCHEMA.txt
-- ================================================

-- ================================================
-- Table: hr_organization
-- ================================================
CREATE TABLE IF NOT EXISTS hr_organization (
    id VARCHAR(48) PRIMARY KEY,
    parentid VARCHAR(48),
    name VARCHAR(96),
    CONSTRAINT fk_org_parent
        FOREIGN KEY (parentid) REFERENCES hr_organization(id)
);

-- ================================================
-- Table: hr_account
-- ================================================
CREATE TABLE IF NOT EXISTS hr_account (
    id VARCHAR(48) PRIMARY KEY,
    name VARCHAR(48),
    organizationid VARCHAR(48),
    email VARCHAR(384),
    password VARCHAR(255),
    CONSTRAINT fk_account_org
        FOREIGN KEY (organizationid) REFERENCES hr_organization(id)
);

-- ================================================
-- Table: t_organization
-- ================================================
CREATE TABLE IF NOT EXISTS t_organization (
    unitid VARCHAR(48) PRIMARY KEY,
    parentunitid VARCHAR(48),
    unitname VARCHAR(96),
    unittype VARCHAR(48),
    CONSTRAINT fk_t_org_parent
        FOREIGN KEY (parentunitid) REFERENCES t_organization(unitid)
);

-- ================================================
-- Table: t_equipment
-- ================================================
CREATE TABLE IF NOT EXISTS t_equipment (
    id VARCHAR(48) PRIMARY KEY,
    name VARCHAR(96),
    assetid VARCHAR(48),
    unitid VARCHAR(48),
    CONSTRAINT fk_equip_unit
        FOREIGN KEY (unitid) REFERENCES t_organization(unitid)
);

-- ================================================
-- Table: t_job
-- ================================================
CREATE TABLE IF NOT EXISTS t_job (
    actid VARCHAR(48) PRIMARY KEY,
    equipmentid VARCHAR(48),
    mdate VARCHAR(8),
    act_desc VARCHAR(2000),
    act_key VARCHAR(30),
    act_mem VARCHAR(30),
    act_mem_id VARCHAR(30),
    group_type VARCHAR(8),
    mterm VARCHAR(8),
    CONSTRAINT fk_job_equip
        FOREIGN KEY (equipmentid) REFERENCES t_equipment(id),
    CONSTRAINT fk_job_member
        FOREIGN KEY (act_mem_id) REFERENCES hr_account(id)
);

-- ================================================
-- Table: equit_check_item
-- ================================================
CREATE TABLE IF NOT EXISTS equit_check_item (
    item_id VARCHAR(48) PRIMARY KEY,
    equipmentid VARCHAR(48),
    sort_order VARCHAR(24),
    item_name VARCHAR(48),
    item_desc VARCHAR(2000),
    status_type VARCHAR(48),
    max_v VARCHAR(48),
    min_v VARCHAR(48),
    group_type VARCHAR(24),
    mterm VARCHAR(24),
    unit VARCHAR(24),
    CONSTRAINT fk_item_equip
        FOREIGN KEY (equipmentid) REFERENCES t_equipment(id)
);

-- ================================================
-- Table: inspection_result
-- ================================================
CREATE TABLE IF NOT EXISTS inspection_result (
    actid VARCHAR(48),
    item_id VARCHAR(48),
    equipmentid VARCHAR(48),
    measured_value VARCHAR(48),
    act_mem_id VARCHAR(30),
    act_time TIMESTAMP,
    result_photo VARCHAR(2000),
    is_out_of_spec SMALLINT,
    PRIMARY KEY (actid, item_id),
    CONSTRAINT fk_result_job
        FOREIGN KEY (actid) REFERENCES t_job(actid),
    CONSTRAINT fk_result_item
        FOREIGN KEY (item_id) REFERENCES equit_check_item(item_id),
    CONSTRAINT fk_result_equip
        FOREIGN KEY (equipmentid) REFERENCES t_equipment(id),
    CONSTRAINT fk_result_member
        FOREIGN KEY (act_mem_id) REFERENCES hr_account(id)
);

-- ================================================
-- Table: abnormal_cases
-- ================================================
CREATE TABLE IF NOT EXISTS abnormal_cases (
    actid VARCHAR(48),
    item_id VARCHAR(48),
    equipmentid VARCHAR(48),
    measured_value VARCHAR(48),
    is_processed BOOLEAN DEFAULT FALSE,
    abn_msg VARCHAR(2000),
    abn_solution VARCHAR(2000),
    processed_memid VARCHAR(48),
    processed_time TIMESTAMP,
    PRIMARY KEY (actid, item_id),
    CONSTRAINT fk_abnormal_result
        FOREIGN KEY (actid, item_id) REFERENCES inspection_result(actid, item_id),
    CONSTRAINT fk_abnormal_equip
        FOREIGN KEY (equipmentid) REFERENCES t_equipment(id),
    CONSTRAINT fk_abnormal_member
        FOREIGN KEY (processed_memid) REFERENCES hr_account(id)
);

-- ================================================
-- Table: roles
-- ================================================
CREATE TABLE IF NOT EXISTS roles (
    role_id SERIAL PRIMARY KEY,
    role_name VARCHAR(50) UNIQUE NOT NULL,
    description VARCHAR(255)
);

-- ================================================
-- Table: sys_log
-- ================================================
CREATE TABLE IF NOT EXISTS sys_log (
    log_id VARCHAR(48) PRIMARY KEY,
    timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    level VARCHAR(48),
    module VARCHAR(48)
);

-- ================================================
-- Table: user_log
-- ================================================
CREATE TABLE IF NOT EXISTS user_log (
    id SERIAL PRIMARY KEY,
    user_id VARCHAR(48),
    changes TEXT,
    timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_action_log_user
        FOREIGN KEY (user_id) REFERENCES hr_account(id)
);

-- ================================================
-- 索引
-- ================================================
CREATE INDEX IF NOT EXISTS idx_hr_account_org ON hr_account(organizationid);
CREATE INDEX IF NOT EXISTS idx_t_equipment_unit ON t_equipment(unitid);
CREATE INDEX IF NOT EXISTS idx_check_item_equip ON equit_check_item(equipmentid);
CREATE INDEX IF NOT EXISTS idx_job_equip ON t_job(equipmentid);
CREATE INDEX IF NOT EXISTS idx_job_member ON t_job(act_mem_id);
CREATE INDEX IF NOT EXISTS idx_job_date ON t_job(mdate);
CREATE INDEX IF NOT EXISTS idx_result_actid ON inspection_result(actid);
CREATE INDEX IF NOT EXISTS idx_result_isoutofspec ON inspection_result(is_out_of_spec);
CREATE INDEX IF NOT EXISTS idx_abnormal_isprocessed ON abnormal_cases(is_processed);
CREATE INDEX IF NOT EXISTS idx_action_log_userid ON user_log(user_id);
