{% extends "layout/Mortor_base.html" %}

{% block title %}巡檢行事曆 - FEM 設備保養管理系統{% endblock %}
{% block page_title %}巡檢行事曆{% endblock %}
{% block breadcrumb_active %}巡檢行事曆{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-calendar-alt mr-1"></i>巡檢行事曆
        </h3>
    </div>
    <div class="card-body">
        <div class="callout callout-info">
            <h5><i class="fas fa-info-circle mr-1"></i>功能開發中</h5>
            <p>巡檢行事曆功能正在開發中，敬請期待。</p>
            <p>預計將顯示每日/每週/每月的巡檢排程，支援行事曆視圖與拖拉排程功能。</p>
        </div>
    </div>
</div>
{% endblock %}